<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>온클|우리 반 수강현황 한 눈에 보기</title>
        <style>
            .login-title {
                color: white;
                width: 300px;
                height: 300px;
                background-image: url('https://m.ebs.co.kr/common/img/ebs_logo.png');
                background-position: center;
                background-size: contain;

                border-radius: 10px;
                text-align: center;
                padding-top: 40px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="login-title">
            <h1>한 눈에 확인하는 수강현황</h1>
            <div>
                <p>
                    월: <input type="text"/>
                </p>
                <p>
                    일: <input type="text"/>
                </p>
                <p>
                    요일: <input type="text"/>
                </p>
            </div>
            <button>확인하기</button>
    </body>
</html>